appdirs==1.4.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==0.12
gunicorn==19.7.0
idna==2.7
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
olefile==0.44
packaging==16.8
Pillow==4.0.0
psutil==5.4.6
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
PyYAML==3.13
reportlab==3.3.0
requests==2.19.1
scout-apm==1.2.1
six==1.10.0
urllib3==1.23
Werkzeug==0.11.15
