appdirs==1.4.0
-e git+https://github.com/robyparr/barmycodes.git@7f7bebf75a59cb4e3f9e803238557180758f7f64#egg=barmycodes
click==6.7
Flask==0.12
gunicorn==19.7.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
olefile==0.44
packaging==16.8
Pillow==4.0.0
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
reportlab==3.3.0
six==1.10.0
Werkzeug==0.11.15
