{% extends "layout.html" %}

{% block body %}
    <div id="error" class="alert alert-danger" style="display: none;"></div>

    {# Display barcodes or no barcodes message #}
    {% if data['barcodes'] %}

        {# Display individual barcodes #}
        {% for barcode in data['barcodes'] %}
            {# Start a new row on the first and every 3rd barcode #}
            {% if loop.index0 % 2 == 0 %}
                <div class="row">
            {% endif %}

            <div class="col-md-6">
                <div class="panel panel-default barcode-panel">
                    <div class="panel-heading">{{ barcode.text_value }}</div>
                    <div class="panel-body text-center">
                        <img class="barcode" src="data:image/png;base64,{{ barcode.as_image('png') }}" />
                    </div>
                    <div class="panel-footer text-right">
                        <a href="/png?b[]={{ barcode.text_value }}&type={{ barcode.type }}"
                            class="barcode-png-link"
                            style="margin-right: 15px;">PNG</a>
                        <a href="/pdf?b[]={{ barcode.text_value }}&type={{ barcode.type }}"
                            target="_blank"
                            class="barcode-pdf-link">PDF</a>
                    </div>
                </div>
            </div>

            {# End the row every 2 barcodes #}
            {% if loop.index % 2 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1 class="no-content">
            Your barcodes will showup here.<br />
            Try it out to the left.
        </h1>
        <h1 class="no-content-above">
            Your barcodes will showup here.<br />
            Try it out above.
        </h1>
    {% endif %}

{% endblock %}